*{
	padding: 0;
	margin: 0;
	box-siing: border-box;
}

html {
	height:100%;
	 overflow: hidden;
}
body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%; 

 
}
 
 footer {
	text-align: center;	 
}

.contain {
	background-color: #000000;
	width: 100%;
	height: 80%;


}

.menu {
	background-color: #ff0000;
	position: fixed;
	right: 50px
}

.main {
	background-color: #ffffff;
	width: 100%;
	height: 100%; 
}

#myCanvas{
	height:400px;
	width:100%;
}

#rabbit{
	position:absolute;
	background-image: url('../images/rabbit.jpg');
	height:50px;
	width:50px;
	margin: 10% 30%;

}



@keyframes rainbow {
  0% { background: #c00 }
  50% { background: orange }
  100% { background: yellowgreen }
}

#rabbit{
	 animation: tuski 0.2s steps(4) infinite
}

@keyframes tuski {
    0% {
        background-position:0;
    }
    100% {
        background-position: -576px 0;
    }
}